    body{
        background-color: #0adbf7;
    }
    h1{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color:firebrick;
        text-align: center;
    }

    #footer {
        background-color: #f3e5f5;
        padding: 20px;
        position: absolute;
        bottom: 0;
        width: 100%; 
    }